
.divCabecalho {
    display: flex;
    margin: 0.1em 0.1em;
    padding: 5px;
    max-width: 100%;
    height: 110px;
    align-items: end;
    justify-content: end;
    border-bottom: 1.5px dashed;
    border-color: green;
    border-radius: 1rem;
    background-image: url("/src/images/banner.png");
}

